:root {

    --red: #E6563B;
    --orange: #EB9D3A;
    --green: #7CB06C;
    --blue: #00ABA9;
    --light: #F0F0F0;
    --lightgray: #E6E6E6;

}

h1 {
	font-size: 64px;
}

h2 {
	font-size: 48px;
}

h3 {
	font-size: 40px;
}

h4 {
	font-size: 32px;
}

h5 {
	font-size: 28px;
}

h1, h2, h3, h4, h5 {
	font-family: 'Anton', sans-serif;
}

body, h6 {
	font-family: 'Abel', sans-serif;
}

body {
	background: var(--lightgray);
}


/*NEW STLYES GO BELOW*/

/*FOR THE HEADER LETTERING*/

#logo {
	width: 105px;
	height: 105px;
}

.icons {
	width: 18px;
	height: 18px;
}

.page-header {
	width: 100%;
	text-align: center;
}

/*HARD RULE*/

#part-time {
	display: none;
}

/* Small devices (phones and pocket devices, 576 and up) */
@media screen and (min-width:576px) {
	.page-header{
		width: 100%;
	}

	#part-time {
		display: block;
		border: 1px solid;
		width: 60%;
	}
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width:768px) {
	.page-header {
		padding: 0 5%;
	}

	#part-time {
		width: 90%;
	}
}

/* Large and extra large devices (desktops, 992px and up) */
@media screen and (min-width:992px) {

}
