:root {

    --red: #E6563B;
    --orange: #EB9D3A;
    --green: #7CB06C;
    --blue: #00ABA9;
    --light: #F0F0F0;
    --lightgray: #E6E6E6;

}

h1 {
	font-size: 64px;
}

h2 {
	font-size: 48px;
}

h3 {
	font-size: 40px;
}

h4 {
	font-size: 32px;
}

h5 {
	font-size: 28px;
}

h1, h2, h3, h4, h5 {
	font-family: 'Anton', sans-serif;
}

body, h6 {
	font-family: 'Abel', sans-serif;
}

body {
	background: var(--lightgray);
}


/*NEW STLYES GO BELOW*/

/*FOR THE HEADER LETTERING*/

.circles {
	width: 105px;
	height: 105px;
}

.icons {
	width: 18px;
	height: 18px;
}

.page-header {
	width: 100%;
	text-align: center;
}

/*BIG DOTS*/

#small-dots {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	width: 90%;
}

#small-dots a {
	margin: 0;
	color: var(--light);
}

.firstPair {
	display: flex;
	justify-content: space-evenly;
	margin: 30px 0px;
	/*width: 90%;*/
	/*padding: 0 auto;*/
}

#big-dots {
	color: var(--light);
	margin: 0 auto;
	/*display: flex;*/
	justify-content: space-between;
	width: 70%;
	flex-wrap: wrap;
	display: none;
}

#big-dots a {
	margin: 0;
	color: var(--light);
}

.circleRim {
	border: 6px solid var(--light);
	border-radius: 90px;
	display: flex;
	justify-content: center;
	align-items: center;
	/*margin: 0 20px;*/
}

.redCircle {
	background: var(--red);
}

.orangeCircle {
	background: var(--orange);
}

.greenCircle {
	background: var(--green);
}

.blueCircle {
	background: var(--blue);
}

/*HARD RULE*/

#part-time {
	display: none;
}

/* Small devices (phones and pocket devices, 576 and up) */
@media screen and (min-width:576px) {
	.page-header{
		width: 100%;
	}

	#small-dots {
		display: none;
	}
	#big-dots {
		flex-wrap: nowrap;
		display: flex;
	}

	.circleRim {
		margin: 0;
	}

	#part-time {
		display: block;
		border: 1px solid;
		width: 60%;
	}
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width:768px) {
	.page-header {
		padding: 0 5%;
	}

	#big-dots {
		width: 60%;
	}

	#part-time {
		width: 90%;
	}
}

/* Large and extra large devices (desktops, 992px and up) */
@media screen and (min-width:992px) {

}
